/* CSS Document */
h1,h2,h3,p,td,quote,small,form,input,ul,li,ol,label
      {
      margin:0px;
      padding:0px;
      }
body{padding:0px;
	 margin:0px;
	 background:url(../images/diz/bg.jpg);
	 font-family:Verdana, Arial, Helvetica, sans-serif;
	 font-size:12px;
	 color:#333366;
    }
#content{
	width:900px;
	height:auto;
	background-color:#FFF;
	-webkit-box-shadow: 0px 0px 7px #222;
    -moz-box-shadow: 0px 0px 7px #222;
    box-shadow: 0px 0px 7px #222;
  border: 1px solid #669;
  border-radius: 6px;
	margin: 0 auto;
	margin-top:30px;
	padding:5px;
	top:50px;
}
#regForm
{list-style:none;}

#regForm li
{float:left; padding:3px;}

#regForm input,select{
	padding:3px;
	color:#333333;
	border:1px solid #96A6C5;
	margin:3px;
	width:180px;
	font-size:11px;
}

#regForm #go
{
width:80px;
height:22px;	
}

#regForm select{
	width:auto;
	padding:2px;
}

.formline{
	padding:3px;
}

#regForm label{
	font-size:11px;
	display:block;
	text-align:right;
}

#newsForm input, textarea{
	padding:3px;
	color:#333333;
	border:1px solid #96A6C5;
	margin:3px;
	width:500px;
	font-size:11px;
	
}
#newsForm #go{width:100px;}

.input-container{
	padding:1px;
}

#div-regForm,.registered{	
	border:3px solid #eeeeee;
	padding:15px;
	background:url(../images/bg.jpg) repeat-x #cbd4e4;
	color:#203360;
	margin:30px auto 40px auto;
	width:400px;
}

#topmenu
{
	padding-bottom:8px;
	border-bottom:1px solid #dde;
}
#error
{
	background-color:#ffebe8;
	border:1px solid #dd3c10;
	padding:7px 3px;
	padding-left:30px;
	text-align:centr;
	margin:10px;
	margin-right:15px;
	font-size:12px;
}
.good
{
	background-color:#ebffe8;
	border:1px solid #3cdd10;
	font-size:10px;
	padding:7px 3px;
	padding-left:30px;
	text-align:left;
	margin-top:10px;
	
}
	
a
{
color:#5555bb;
text-decoration : none;
}
a:hover
{
color:#444488;
text-decoration:underline;
}

/* ------------- Menu -------------------------- */
#nav {
      float:right;
      margin: 0;
      padding: 0;
	 
	  }
	  
#nav ul 
	  {
	   list-style: none;
	   margin: 0;
       padding: 0;
	  }
#nav li {
      float: left;
	  text-align:center;

	  }
#nav li a {
	  width:50px;
      display: block;
      padding: 5px 5px;
      text-decoration: none;
      font-weight:500;
      color: #67b;
	  font-size:12px;
	  font-family:Verdana, Helvetica, Arial, sans-serif;
	  height:20px;
	  margin-bottom:3px;
	  }
#nav li a:hover {
      color:#444488;
	  height:20px;
	  background-color:#eee;
	  background-position:bottom;
	  background-repeat:repeat-x;
	  }

.ltext{
	 
	 font-family:Verdana, Arial, Helvetica, sans-serif;
	 font-size:10px;
	 color:#666;
    }
